body, button, input {
    font-family: "Outfit", sans-serif;
    background-color: #F2F2F2;
}

/*SECCION BIENVENIDA */  
.container {
    width: 100%;
  }
  
  .welcome {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .welcome-image {
    width: 100%;
    max-width: none;
    border-radius: 15px; 
    height: 900px;
    opacity: 0.9;
    box-shadow: 0px 4px 5px var(--colorBlueLight);
  }
  
.text {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #555555;
}
  
.text h1{
    margin: 0;
    font-size: 70px;
}

.text p {
    margin: 0;
    font-size: 20px;
    color: #F2F2F2;
    margin-top: 40px;
}

#btn-1 {
    background-color: #470459;
    color: #F2F2F2;
    padding: 10px 40px;
    border: 1px solid #555555;
    border-radius: 20px;
    margin-top: 20px;
    transition: background-color 0.3s;
    font-size: 18px;
    box-shadow: 0px 1px 5px #7386BF;
}

#btn-1:hover {
    background-color: #fefcfc;
    color: #470459;

}

#btn-2 {
    background-color: #F2F2F2;
    color: #555555;
    padding: 10px 40px;
    border: 1px solid #555555;
    border-radius: 20px;
    margin-top: 20px;
    transition: background-color 0.3s;
    font-size: 18px;
    box-shadow: 0px 1px 5px #7386BF;
}

#btn-2:hover {
    background-color: #fefcfc;
    color: #470459;
}


/*TENDENCIAS Y NOTICIAS*/

.container-tendencias {
    width: 100%;
    display: flex;
    justify-content: center;
}

.news-and-trends-section {
    max-width: 90%;
    text-align: center;
    margin: 20px;
}

.news-and-trends-section h2 {
    font-size: 40px;
    text-decoration: underline;
    color: #555555;
}

.news-and-trends-section p {
    font-size: 18px;
    color: #555555;
    padding: 0 7px 10px 7px;
}

.news-and-trends-images-section {
    display: flex;
    justify-content: space-between;
    color: #555555;
    margin: 20px;
    margin-bottom: 40px;
}

.images-section {
    text-align: center;
    padding: 40px;
}

.images-section img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    border: 3px solid #555555;
    box-shadow: 0px 7px 5px #7386BF;
}



/*SECCION VIDEO*/

/* Contenedor principal */
.container-video {
    display: flex;
    margin-bottom: 10px;
    color: #000000;
    box-shadow: 0px 1px 5px #7386BF;
}

/* Mitades */
.half {
    flex: 1;
    padding: 20px;
}

/* Derecha */
.right {
    display: flex;
    flex-direction: column;
}

/* Izquierda Superior */
.left-1 {
    display: flex;
    flex-direction: column;
}

/* Derecha Superior */
.half.right-1 h2 {
    font-size: 30px;
    margin-left: 70px;
}

/*Izquierda Inferior */
.half.left-2 h2 {
    font-size: 30px;
    margin-left: 70px;
}


/* Bloques superiores e inferiores */
.top-block, .bottom-block {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 10px;
    color: #555555;
    background-color: #fefcfc;
    box-shadow: 2px 2px 5px #7386BF;
    border-radius: 10px;
    padding: 20px;
}

/* Subtítulo de indicadores */
.subtitulo-indicadores {
    color: #555555;
}

/* Indicadores numéricos y de porcentaje */
.indicador-numerico, .porcentaje {
    text-align: center;
    display: inline-block;
    justify-content: center; 
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color:#470459;
}

.indicador-numerico {
    margin-right: 30px; /* Agrega espacio a la derecha */
}

.porcentaje {
    margin-left: 30px; /* Agrega espacio a la izquierda */
}

/* Contenedor de video */
.video-container {
    border-radius: 15px;
    justify-content: center;
    display: flex;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.top-block h3 {
    color:#470459;
}

.bottom-block h3 {
    color:#470459;
}


@media only screen and (max-width: 1097px) {
    .welcome-image {
        height: 400px;
        max-width: none;
    }

    .text {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #555555;
    }

    .text h1 {
        font-size: 30px;
    }

    .container-tendencias {
        margin: 10px;
    }

    .news-and-trends-section h2 {
        font-size: 35px;
    }

    .images-section img {
        width: 140px;
        height: 140px;
    }

    .images-section h3 {
        font-size: 18px;
    }

    .images-section p {
        font-size: 14px;
    }
    .container-video {
        flex-direction: column;
        align-items: center;
    }

    .half {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .half.left-1 {
        order: 2;
    }

    .half.left-2 h2 {
        margin: 0;
    }

    /* Estilos para la mitad derecha */
    .half.right {
        margin-top: 10px;
        order: 1;
    }

    .half.right-1 h2 {
        margin: 0;
    }
    
    
    .left,
    .right {
        display: flex;
        flex-direction: column;
    }
    
    .right {
        order: -1;
    }
    
    .video-container {
        width: 50%;
        margin-top: 10px;
    }
    .top-block h3 {
        color:#470459;
    }
    
    .bottom-block h3 {
        color:#470459;
    }
     /* Estilos para los bloques superiores e inferiores */
     .top-block,
     .bottom-block {
         margin: 10px;
         padding: 15px;
     }
}

@media only screen and (max-width: 530px) {

    html, body {
        margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
        padding: 0; /* Elimina el relleno predeterminado del cuerpo */
        width: 100%; /* Asegura que el cuerpo ocupe todo el ancho disponible */
        overflow-x: hidden; /* Evita el desplazamiento horizontal */
        justify-content: center; /* Centra el contenido horizontalmente */
    }

    .container {
        width: 100%;
        height: auto;
      }

      .welcome-image {
        height: 100%;
        max-width: none;
    }

    .text {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #555555;
    }

    .text h1 {
        font-size: 30px;
    }

    .container-tendencias {
        margin: 10px;
    }

    .news-and-trends-images-section {
        display: flex;
        flex-direction: column;
    }
    
    .images-section {
        margin-bottom: 20px;
    }

    .news-and-trends-images-section {
        flex-direction: column; /* Cambia la dirección de la disposición a columna */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .news-and-trends-section h2 {
        font-size: 35px;
    }

    .images-section img {
        width: 140px;
        height: 140px;
    }

    .images-section h3 {
        font-size: 18px;
    }

    .images-section p {
        font-size: 14px;
    }

    /* Estilos para el contenedor principal */
    .container-video {
        flex-direction: column;
        align-items: center;
    }
    /* Estilos para las mitades */
    .half {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .half.left-1 {
        order: 2;
    }

    .half.left h2 {
        margin: 0;
    }
    /* Estilos para la mitad derecha */
    .half.right {
        margin-top: 10px;
        order: 1;
    }

    .half.right h2 {
        margin: 0;
    }
    /* Estilos para el contenedor de video */
    .video-container {
        width: 50%;
        margin-top: 10px;
    }

    /* Estilos para los bloques superiores e inferiores */
    .top-block,
    .bottom-block {
        margin: 10px;
        padding: 15px;
    }
}