body, button, input {
    font-family: "Outfit", sans-serif;
    background-color: #F2F2F2;
}
.main{
    position: relative;
}

/* Estilos para la sección de bienvenida */  
.container {
    width: 100%; /* El contenedor ocupa todo el ancho de la página */
  }
  
  .welcome {
    width: 100%; /* El contenedor ocupa todo el ancho de la página */
    margin: 0 auto;
    position: relative;
  }
  
  .welcome-image {
    width: 100%;
    max-width: none;
    border-radius: 15px; 
    height: 900px;
    opacity: 0.9;
    box-shadow: 0px 4px 5px #7386BF;
  }
  
.text {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #555555;
}
  
.text h1{
    margin: 0;
    font-size: 70px;
}

.text p {
    margin: 0;
    font-size: 20px;
    color: #F2F2F2;
    margin-top: 40px;
}

#btn-1 {
    background-color: #470459;
    color: #F2F2F2;
    padding: 10px 40px;
    border: 1px solid #555555;
    border-radius: 20px;
    margin-top: 20px;
    transition: background-color 0.3s;
    font-size: 18px;
    box-shadow: 0px 1px 5px #7386BF;
}

#btn-1:hover {
    background-color: #fefcfc;
    color: #470459;

}

#btn-2 {
    background-color: #F2F2F2;
    color: #555555;
    padding: 10px 40px;
    border: 1px solid #555555;
    border-radius: 20px;
    margin-top: 20px;
    transition: background-color 0.3s;
    font-size: 18px;
    box-shadow: 0px 1px 5px #7386BF;
}

#btn-2:hover {
    background-color: #fefcfc;
    color: #470459;
}


/*TENDENDCIAS Y NOTICIAS*/

.container-tendencias {
    width: 100%;
    display: flex;
    justify-content: center;
}

.news-and-trends-section {
    max-width: 90%;
    text-align: center;
    margin: 20px;
}

.news-and-trends-section h2 {
    font-size: 40px;
    text-decoration: underline;
    color: #555555;
}

.news-and-trends-section p {
    font-size: 18px;
    color: #555555;
    padding: 0 7px 10px 7px;
}

.news-and-trends-images-section {
    display: flex;
    justify-content: space-between;
    color: #555555;
    margin: 20px;
    margin-bottom: 40px;
}

.images-section {
    text-align: center;
}
.images-section img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    border: 3px solid #555555;
    box-shadow: 0px 7px 5px #7386BF;
}

/*SECCION VIDEO*/

/* Contenedor principal */
.container-video {
    display: flex;
    margin-bottom: 10px;
    color: #000000;
    box-shadow: 0px 1px 5px #7386BF;
}

/* Mitades */
.half {
    flex: 1;
    padding: 20px;
}

/* Izquierda */
.left {
    display: flex;
    flex-direction: column;
}

.half.left h2 {
    font-size: 30px;
    margin-left: 70px;
}

/* Derecha */
.right {
    display: flex;
    flex-direction: column;
}

.half.right h2 {
    font-size: 30px;
    margin-left: 70px;
}

/* Bloques superiores e inferiores */
.top-block, .bottom-block {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 10px;
    color: #555555;
    background-color: #fefcfc;
    box-shadow: 2px 2px 5px #7386BF;
    border-radius: 10px;
    padding: 20px;
}

/* Subtítulo de indicadores */
.subtitulo-indicadores {
    color: #555555;
}

/* Indicadores numéricos y de porcentaje */
.indicador-numerico, .porcentaje {
    text-align: center;
    display: inline-block;
    justify-content: center; 
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color:#470459;
}

.indicador-numerico {
    margin-right: 30px; /* Agrega espacio a la derecha */
}

.porcentaje {
    margin-left: 30px; /* Agrega espacio a la izquierda */
}

/* Contenedor de video */
.video-container {
    border-radius: 15px;
    justify-content: center;
    display: flex;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.top-block h3 {
    color:#470459;
}

.bottom-block h3 {
    color:#470459;
}