/*BARRA DE NAVEGACION
.nav-bar {
    margin: auto;
    width: 100%;

}

.main-bar {
    list-style: none;
    font-size: 0.9em;
    float: left;
    margin: auto;
    padding-left: 25%;
    box-shadow: 2px 2px 5px #8538a6;
    border-radius: 5px;
    margin-bottom: 4px;
    margin-right: 3px;
    width: 60%;



}


#logo {
    display: inline-flex;
    order: 1;
    align-self: center;
    color: black;
    white-space: nowrap;
    float: left;
}

li {
    padding: 5px;
    margin: 20px;
    float: left;
    bottom: 18px;
    position: relative;
    font-family: "Outfit", sans-serif;
    cursor: pointer;

}

li a.activa {
    color: #470459;
    border-bottom: 2px solid #470459;
    font-weight: bold;



}


a {
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    color: #8538a6;

}

Efecto para cambiar el tamanio de los link del nav-bar 
a.ex2:hover, a.ex2:active, a.activa:hover {font-size: 115%;}


.login {
    border-color: #470459;
    color: #fcfcfc;
    background-color: #470459;
    border-radius: 15px;
    padding: 6px 30px;
    margin: 10px;
    opacity: 0.6;
    transition: 0.4s;
    opacity: 1;
    align-content: end;
    cursor: pointer;
    margin-block-end: auto;
    font-family: "Outfit", sans-serif;
}

.login:hover {
    background-color: #8538a6;
    color: #f2cb57;
    font-weight: bold;
}

.split {
    float: inline-end;
    margin-bottom: 8px;
    text-align: center;
    top: 5px;
    justify-content: center;


}*/

.cuerpo {
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    padding: 80px 0px;

}

/*BARRA DE NAVEGACION 2*/

.header {
    background-color:#ebe8ebf3;
    position: fixed;
    height: 80px; /*puede no estar*/
    width: 100%;
    top: 0;
    left: 0;
}

.navBar {
    display: flex; /*para que el contenido se alinie*/
    justify-content:space-between;

    max-width: 992px;
    margin: 0 auto;

}

.nav-link {
    color: #8538a6;
    text-decoration: none;
}

.logo2 {
    padding: 0 20px;
    line-height: 80px; /*para centrarlo (debe ser igual al del cuerpo)*/
}


.nav-menu {
    display: flex; /*para que los elementos queden dispersos horizontal*/
    margin-right: 40px;
    list-style: none;

}

.nav-menu-item {
    margin: 0 20px; /*para separar cada link*/
    line-height: 50px;
    width: max-content; /*para que no corte el contenido*/

}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 10px;
    transition: 0.5s;
}

.nav-menu-link:hover {
    background-color:#8538a6;
    color: #f2e205;

}

/*BARRA DE NAV PARA CELULARES*/
.nav-toggle {
    color: #470459;
    background: none;
    border: none;
    font-size: 20px;
    padding: 0 20px;
    line-height: 60px;
    
    display: none; /*para que ocultarlo*/

}

@media (max-width: 768px){}

/*ACERCA DE NOSOTROS + IMG */

img {
    background-size: cover;
    display: flex;
    width: 100%;
    height: auto;
    object-fit: 10% 20%;
    object-position: 80% 100%;
    margin: auto;
    border-radius: 8px;
    position: relative;
    opacity: 0.85;

}


.Titulo-AcercadeNosotros {
    white-space: nowrap;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 12%;
    left: 20%;
    text-shadow: 3px 3px 6px rgb(16, 5, 5);
}

.Texto-AcercadeNosotros {
    position: absolute;
    bottom: centre;
    top: 40%;
    text-align: center;
    color: #fcfcfc;
    width: 100%;
    height: 0;
    font-weight: bold;
}

.Titulo-AcercadeNosotros,
.Texto-AcercadeNosotros {
    font-family: "Outfit", sans-serif;
}

#textoNosotros:hover {
    background-color: #f7e8f6a0;
    border-radius: 4px;

}

/*Para que sea RESPONSIVO 
@media screen and (max-width: 700px) {

    .main-bar,
    .conteinerportada .contenido-img,
    .Titulo-AcercadeNosotros,
    .Texto-AcercadeNosotros img {
        font-size: 0, 5em;
        padding: 0;
        flex-direction: row;
    }
}*/

/*Secciones: HISTORIA + VALORES + MISION (fila)*/

.contenidoHistoria,
.contenidoMision,
.contenidoValores {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

.Titulo-contenidoHistoria,
.Titulo-contenidoMision,
.Titulo-contenidoValores {
    padding: 30px;
    margin: 30px;
    color: #470459;
    font-size: large;
    text-align: center;
}

.texto-contenidoHistoria,
.texto-contenidoMision,
.texto-contenidoValores {
    font-size: small;
    font-family: out;
    box-shadow: 2px 2px 5px #615667;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 35px;
    padding: 20px;
    font-family: "Outfit", sans-serif;
}



/*Estilos para los textos*/

h2:hover {
    color: #8538a6;
}


/*PIE DE PAGINA*/

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}