.cuerpo {
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    padding: 80px 0px;

}

/*BARRA DE NAVEGACION*/

.header {
    background-color: #81449f;
    box-shadow: 0 4px 5px var(--colorVioletDark);
    position: fixed;
    height: 80px;
    /*puede no estar*/
    width: 100%;
    top: 0;
    left: 0;
}

.navBar {
    display: flex;
    /*para que el contenido se alinie*/
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;


}

.nav-link {
    color: #fcfcfc;
    text-decoration: none;
}

.logo2 {
    padding: 0 20px;
    line-height: 80px;
    color: #ebe0ee;
    /*para centrarlo (debe ser igual al del cuerpo)*/
}


.nav-menu {
    display: flex;
    /*para que los elementos queden dispersos horizontal*/
    margin-right: 40px;
    list-style: none;

}

.nav-menu-item {
    margin: 0 20px;
    /*para separar cada link*/
    line-height: 50px;
    width: max-content;
    /*para que no corte el contenido*/

}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 10px;
    transition: 0.5s;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    color: #ffef11;


}

/*BARRA DE NAVEGACION PARA CELULARES*/
.nav-toggle {
    color: #ebe0ee;
    background: none;
    border: none;
    font-size: 20px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
    /*para ocultarlo*/


}

/*Cuando la pantalla sea < 768px se le van a aplicar estos estilos*/
@media (max-width: 768px) {

    .cuerpo {
        padding-top: 70px;
    }

    .header {
        height: 60px;
    }


    .logo2 {
        padding: 0 20px;
        line-height: 60px;
        color: #ebe0ee;

    }

    .nav-link {
        color: #eee7f0;
        font-weight: bolder;
    }

    .nav-menu {
        flex-direction: column;
        /*para que los elementos queden verticalmente*/
        align-items: center;
        margin: 0;
        list-style: none;
        background-color: #5b2973;
        position: fixed;
        /*para que la posicion dependa del tamanio de la ventana*/
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        /*60px por el logo*/
        overflow-y: auto;
        /*para agregar scroll si se necesita*/

        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        font-size: 14px;
        line-height: 70px;

    }


    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #ffef11;
    }

    .nav-toggle {
        display: block;
        /*para que aparezca el menu hamburguesa*/
    }

    .nav-menu_visible {
        left: 0;
    }

    /*para que aparezca el menu hamburguesa*/
    .Texto-AcercadeNosotros {
        font-size: 2px;
        position: fixed;
        /*transform: translate(-25%, -25%);
        -ms-transform: translate(-25%, -25%);*/
        left: 0;
        top: 20px;
        width: 80%;
        padding: 10px 0;
        color: #F2F2F2;
    }

    #textoNosotros {
        color: #fffdfd;
        text-shadow: 1px 1px 2px rgb(47, 45, 45), 0 0 25px rgb(129, 71, 137), 0 0 5px #5b2973;
        font-family: "Outfit", sans-serif;
        font-weight: bolder;
        text-align: center;
    }
    
    #text {
        font-family: "Outfit", sans-serif;
        font-size: 15px;
        font-weight: bolder;
        color: #fffdfd;
        text-shadow: 1px 1px 2px rgb(47, 45, 45), 0 0 25px rgb(129, 71, 137), 0 0 5px #5b2973;
    
    }
    

}



/*ACERCA DE NOSOTROS + IMG */


.conteinerGral {
    position: relative;
    width: 100%;
    margin: auto;

}

.image2 {
    display: flex;
    width: 100%;
    border-radius: 18px;
    position: relative;
    opacity: 0.8;
    max-width: none;
    height: 900px;
    box-shadow: 0px 4px 5px #7386BF;
    margin: 0 auto;
}

.superposicion {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    transition: .8s ease;
    background-color: #0b0b0b;
    border-radius: 8px;

}

.conteinerGral:hover .superposicion {
    opacity: 0.9;

}

.Texto-AcercadeNosotros {
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#textoNosotros {
    color: #fffdfd;
    text-shadow: 1px 1px 2px rgb(47, 45, 45), 0 0 25px rgb(129, 71, 137), 0 0 5px #5b2973;
    font-family: "Outfit", sans-serif;
    font-weight: bolder;
    text-align: center;
}

#text {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #fffdfd;
    text-shadow: 1px 1px 2px rgb(47, 45, 45), 0 0 25px rgb(129, 71, 137), 0 0 5px #5b2973;

}



/*Secciones: HISTORIA + VALORES + MISION (fila)*/

#seccioncard {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F2F2F2;
    box-shadow: 2px 2px 5px #7386BF;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    flex-wrap: wrap;  
    border-radius: 8px;  


}

.cardAbout {
    position: relative;
    width: 350px;
    height: 400px;
    margin: 25px;
    font-family: "Outfit", sans-serif;

}

.cardAbout .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.cardAbout .front {
    transform: perspective(600px) rotateY(0deg); 
    box-shadow: 0 5px 10px #000;
}



.cardAbout .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cardAbout .front h2 {
    position: absolute;
    line-height: center;
    text-align: center;
    margin: 30px;
    padding: 60px;
    width: 100px;
    height: 80px;
    letter-spacing: 2px;
    font-size: 35px;
    font: bold;
    color: #f3f3f3;
    text-shadow: 1px 1px 2px rgb(98, 89, 89), 0 0 25px rgb(72, 13, 150), 0 0 5px #000000;
}

.cardAbout .front .fas {

    position: absolute;
    line-height: center;
    text-align:center;
    padding: 90px;
    bottom: 35px;
    margin: 25px;
    width: 100px;
    height: 30px;
    color: #f3f3f3;
    text-shadow: 1px 1px 2px rgb(98, 89, 89), 0 0 25px rgb(72, 13, 150), 0 0 5px #000000;
    -webkit-text-stroke: 2px #66596e;
}

.cardAbout .back {
    transform: perspective(600px) rotateY(180deg);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    color: #fefcfc;
    background: rgb(29, 22, 40); 
   

    box-shadow: 0 5px 10px #000;

}


.cardAbout .back .linkHistoria {
    border-top: solid 1px #f3f3f3;
    height: 40px;
    line-height: 45px;
}

.cardAbout .back .linkHistoria a {
    color: #f3f3f3;
}


.cardAbout .back h2 {
    font-size: 25px;
    margin-top: 25px;
    letter-spacing: 1px;
}

.cardAbout:hover .front {
    transform: perspective(600px) rotateY(180deg);

}

.cardAbout:hover .back {
    transform: perspective(600px) rotateY(360deg);
}





/*PIE DE PAGINA*/

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;}