
/*BARRA DE NAVEGACION */

.nav-bar {
margin: auto;
width: 100%;
}

.main-bar {
    list-style: none;
    font-size: 0.8em;
    float: left;
    margin:auto;
    padding-left: 25%;
}


#logo {
    display: inline-flex;
    order: 1;
    align-self: center;
    color:black;
    white-space: nowrap;
    float: left;
}

li {
    padding: 5px;
    margin: 20px;
    float: left;
    bottom: 18px;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;

}

li a.activa {
   color:#470459;
   border-bottom: 2px solid #470459;
   font-weight: bold;
   

}


a {
    text-decoration:none;
    display: inline-block;
    padding: 8px;
    color: #8538a6;

}

.login {
    border-color: #470459;
    color: #fcfcfc;
    background-color:#470459;
    border-radius: 15px;
    padding: 6px 30px;
    margin: 10px;
    opacity: 0.6;
    transition: 0.4s;
    opacity: 1;
    align-content: end;
    cursor: pointer;
    margin-block-end: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.login:hover {
    background-color:#8538a6;
    color: #f2cb57;
    font-weight: bold;
}

.split {
    float:inline-end;
    margin-bottom: 8px;
    text-align: center;
    top: 5px;
    justify-content: center;


}



/*ACERCA DE NOSOTROS + IMG */

img {
    background-size: cover;
    display: flex;
    width: 100%;
    height: auto;
    object-fit: 10% 20%;
    object-position: 80% 100%;
    margin: auto;
    border-radius: 8px;
    position: relative;
    opacity: 0.85;

  }


.Titulo-AcercadeNosotros {
    white-space: nowrap; 
    color: white;
    font-size: 60px;
    position: absolute;
    top: 12%;
    left: 20%;
  }

  .Texto-AcercadeNosotros {
        position: absolute;
        bottom: centre;
        top: 40%;
        text-align: center;
        color:#fcfcfc;
        width: 100%;
        height: 0;
        font-weight: bold;
      }
   

  #textoNosotros:hover {
    background-color: #f7e8f6a0;
    border-radius: 4px;

  }
  
/*Para que sea RESPONSIVO */
  @media screen and (max-width: 700px) {
    .main-bar, .conteinerportada .contenido-img, .Titulo-AcercadeNosotros,  .Texto-AcercadeNosotros img {  
        font-size: 0,5em; 
        padding: 0;
        flex-direction:row;
    }
}

/*Seccion HISTORIA (fila)*/

.contenidoHistoria{
    display: flex;
    justify-content:center;
    align-items:center;

}

.Titulo-contenidoHistoria{
    padding: 30px;
    margin: 30px;
    color: #470459;
    font-size:large;
    text-align: center;

}
.texto-contenidoHistoria {
    font-size: small;
}



/*Seccion MISION (fila)*/

.contenidoMision {
    display: flex;
    justify-content:center;
    align-items:center;
}

.Titulo-contenidoMision {
    padding: 30px;
    margin: 30px;
    color: #470459;
    font-size:large;
    text-align: center;
}

.texto-contenidoMision {
    font-size: small;

}

/*Seccion VALORES (fila)*/

.contenidoValores {
    display: flex;
    justify-content:center; 
    align-items: center;
}


.Titulo-contenidoValores {
    padding: 30px;
    margin: 30px;
    color: #470459;
    font-size:large;
    text-align: center;
}

.texto-contenidoValores {
    font-size: small;
}

/*Estilos para los textos*/

h2:hover {
    color:#8538a6;
}


.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}