.carousel_film {
    position: relative;
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #bfbfbf, -5px -5px 15px #ffffff;
}

.carousel_film .carousel_inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    padding: 10px 20px;
    width: 100%;
}

.carousel_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px;
}

.container_img {
    width: 230px;
    height: 280px;
}

.container_img img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: fill;
    border: .5px groove #000;
    box-shadow: 5px 5px 15px #bfbfbf, -5px -5px 15px #ffffff;
    transition: transform 0.3s ease;
}

.container_description {
    height: auto;
    margin: 16px 0;
    font-size: 18px;
}

.container_description h4 {
    min-height: 2.9em;
}

.film_title {
    font-size: 16px;
}

.description-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_description p {
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
}

.description-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Número máximo de líneas a mostrar */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.description-text.expanded {
    -webkit-line-clamp: unset;
    /* Muestra todas las líneas */
    overflow: visible;
}

.btn_readMore {
    background-color: transparent;
    border: none;
    color: var(--colorVioletDark);
    cursor: pointer;
}

.btn_readMore:hover {
    color: var(--colorVioletLight);
}

.btn_film {
    border-radius: 50px;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid #000;
    background-color: var(--colorVioletDark);
    text-align: center;
    color: white;
    font-size: 12px;
}

.btn_film:hover {
    transform: scale(1.1);
}

.carousel_navigation {
    display: flex;
    justify-content: space-between;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.carousel-prev i:hover,
.carousel-next i:hover {
    color: var(--colorVioletDark);
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev i,
.carousel-next i {
    color: #f2e205;
    border: 1px solid black;
    border-radius: 50%;
}

.carousel-prev.disabled,
.carousel-next.disabled {
    opacity: 0.5;
    /* Cambia la opacidad cuando las flechas están desactivadas */
    pointer-events: none;
    /* Evita que las flechas desactivadas sean clicables */
    cursor: default;
    /* Cambia el cursor a predeterminado cuando las flechas están desactivadas */
}

.carousel-prev i,
.carousel-next i {
    color: #f2e205;
    border: 1px solid black;
    border-radius: 50%;
}

.carousel-prev:focus,
.carousel-next:focus {
    outline: none;
}

.no-movies-message {
    font-size: 20px;
    width: 230px;
    height: 280px;
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
    color: var(--colorVioletDark);
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.carousel_item.next {
    animation: slideFromRight .5s forwards;
}

.carousel_item.prev {
    animation: slideFromLeft .5s forwards;
}

.carrusel-2 .rating-stars {
    width: 100%;
    margin: 20px 0;
}

.carrusel-2 .star {
    font-size: 30px;
    color: var(--colorVioletDark)
}

/* Ocultar en el carrusel 1 */
#carouselContainer1 .rating-stars,
#carouselContainer1 .star {
    display: none;
}

@media (min-width: 768px) {
    .carousel_inner {
        gap: 70px;
    }

    .carousel-prev {
        left: 20px;
    }

    .carousel-next {
        right: 20px;
    }
}

@media (min-width: 1024px) {
    .container_img {
        width: 289px;
        height: 316px;
    }

    .carousel_film .carousel_inner {
        justify-content: space-evenly;
        gap: 10px;
    }

    .carousel_item {
        width: 289px;
    }

    .carousel-prev i,
    .carousel-next i {
        font-size: 48px;
    }

    .btn_film {
        width: 136px;
        height: 40px;
        font-size: 14px;
    }

    .no-movies-message {
        font-size: 24px;
        width: 400px;
        height: 316px;
        padding: 50px 0;
    }
}