:root {
    --colorVioletDark: #470459;
    --colorVioletLight: #8538A6;
    --colorBackgroud: #F2F2F2;
    --colorBlueLight: #7386BF;
    --colorYellow: #f2e205;
    --colorGrey: #343434;
    --colorRed: #FF0000;
    --colorForm: #c4c6c17b;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--colorBackgroud);
    box-sizing: border-box;
}

body,
button,
input {
    font-family: "Outfit", sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

p{
    margin: 0;
}

button, a{
    cursor: pointer;
}

a{
    text-decoration: none;
}