body {
    background-color: #8538A6 !important;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

.form-container {
    width: 230px;
    background-color: rgb(242,242,242);
    border-radius: 10px;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container p{
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.form-container input, .form-container button {
    border-radius: 5px;
    border: unset;
    padding: 15px 25px;
    font-size: 14px;

}

.form-container button {
    background-color: rgb(133,56,166);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: rgb(222, 47, 47);
}

.escondido {
    display: none;
}

.btn-btn:hover{
    color: var(--colorVioletLight);
}

@media (min-width: 768px) {
    .form-container {
        width: 400px;
    }

    .form-container p {
        font-size: 16px;
    }

    .form-container input, .form-container button {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .form-container {
        width: 500px;
    }
    
   .form-container p {
        font-size: 16px;
    }
    
    .form-container input, .form-container button {
        font-size: large;
    }
}