body {
    background-color: #8538A6 !important;
    margin:0;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

.form-container {
    width: 500px;
    background-color: rgb(242,242,242);
    border-radius: 10px;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    text-align: center;
    padding: 10px;
    
}

label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-container input, .form-container button {
    border-radius: 5px;
    border: unset;
    padding: 15px 30px;
    font-size: large;

}

.form-container button {
    background-color: rgb(133,56,166);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: rgb(222, 47, 47);
}

.escondido {
    display: none;
}