<div id="carousel_container" class="carousel_film">
    <div class="carousel_inner">

        <div class="container_img">
            <img src="" alt="" loading="lazy" id="imageCover">
        </div>
        <div class="rating-stars">
            <span class="star"></span>
        </div>
        <div class="container_description">
            <h4 class="film_title" id="title"></h4>
            <div class="description-wrapper">
                <p class="description-text" id="description"></p>
                <button class="btn_readMore" onclick="toggleDescription(this)">
                    <i class="fa-solid fa-sort-down"></i>
                </button>
            </div>
            <div class="btn_film">
                <a href="../Templates/movie.html?title=${encodeURIComponent(filmTitle)}">VER</a>
            </div>
        </div>

    </div>
    <nav class="carousel_navigation">
    <button class="carousel-prev" aria-hidden="true"><i class="fa-solid fa-circle-chevron-left"></i></button>
    <button class="carousel-next" aria-hidden="true"><i class="fa-solid fa-circle-chevron-right"></i></button>
</nav>
</div>
