<head>
    <link rel="stylesheet" href="/CSS/navbar.css">
    <script src="/scripts/navbar.js"></script>
</head>
<nav class="navBar">
    <a href="/home" class="logo2">
        <img style="border-radius: 50%;" src="/img/logo2.png" alt="logo">
    </a>
    <button class="nav-toggle" aria-label="Abrir menu">
        <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="nav-menu">
        <li class="nav-menu-item"><a href="/home" class="nav-menu-link nav-link">Inicio</a></li>
        <li class="nav-menu-item"><a href="/about" class="nav-menu-link nav-link">Acerca de Nosotros</a></li>
        <li class="nav-menu-item"><a href="/library" class="nav-menu-link nav-link ">Biblioteca</a></li>
        <li class="nav-menu-item"><a href="/contact" class="nav-menu-link nav-link">Contacto</a></li>
        <li class="nav-menu-item item-button" id="authButtons">
            <div class="conteinerbtn">
                <button class="login" id="loginButton" aria-label="Log in">Log in</button>
                <button class="singup" id="signupButton" aria-label="Sing up">Sing up</button>
            </div>
        </li>
    </ul>
    <div class="container_desplegable escondido" id="userDropdown">
        <img id="imgLogin" src="../img/Login.png" alt="">
        <div class="desplegable">
            <button id="desplegableButton" class="despbtn" onclick="myFunctionDesplegable()">
                <i class="fa-solid fa-circle-chevron-down"></i>
            </button>
            <div id="myDesplegable" class="desplegable-content">
                <a href="#" data-category="Agregar">Agregar pelicula</a>
                <a href="#" data-category="Cerrar_sesion" id="logoutButton">Cerrar sesion</a>
            </div>
        </div>
    </div>
</nav>