.login {
    width: 110px;
    height: 35px;
    font-size: 10px;
    background: none;
    border-radius: 32px;
    color: #fffdfd;
    background-color: transparent;
    border: solid 1px #000;
}

.login:hover {
    border-radius: 16px;
    border: solid #000;
    background-color: #f7e924;
    text-shadow: none;
    color: #0b0b0b;
}


.singup {
    width: 110px;
    height: 35px;
    font-size: 10px;
    background: none;
    border-radius: 32px;
    color: #fffdfd;
    background-color: transparent;
    border: solid 1px #000;
}

.singup:hover {
    border-radius: 16px;
    border: solid #000;
    background-color: #f7e924;
    -webkit-text-fill-color: #0b0b0b;
    text-shadow: none;
}