<head>
    <link rel="stylesheet" href="./navbar.css">
</head>
<nav class="navBar">
    <a href="/home" class="logo2">
        <img style="border-radius: 50%;" src="/img/logo2.png" alt="logo">
    </a>
    <button class="nav-toggle" aria-label="Abrir menu">
        <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="nav-menu">
        <li class="nav-menu-item"><a href="/home" class="nav-menu-link nav-link">Home</a></li>
        <li class="nav-menu-item"><a href="/about" class="nav-menu-link nav-link">Acerca de Nosotros</a></li>
        <li class="nav-menu-item"><a href="/library" class="nav-menu-link nav-link ">Biblioteca</a></li>
        <li class="nav-menu-item"><a href="/contact" class="nav-menu-link nav-link">Contacto</a></li>
    </ul>
    <class class="conteinerbtn">
        <button class="login" aria-label="Log in">Log in</button> 
        <button class="singup" aria-label="Sing up"> Sing up</button>     
    </class>

</nav>