<div class="carousel-reviews">
    <div class="carousel-inner">
        <div class="carousel-item_reviews left-slide">
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <p class="description-text_reviews">"Rocky" es una montaña rusa de emociones. La lucha de un hombre por
                alcanzar sus sueños te emocionará y motivará. ¡Una película que deja huella! . Acción
                y corazón se mezclan en esta película emocionante. ¡Merece cada estrella! &#128525;
            </p>
            <div class="container-profile">
                <div class="container_img__reviews">
                    <img src="/img/profile_photo2.jpg" alt="foto de  perfil uno">
                </div>
                <div class="profile_description">
                    <p>@Maggia</p>
                    <p>Maria Eugenia</p>
                </div>
            </div>
        </div>
        <div class="carousel-item_reviews active">
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <p class="description-text_reviews">"El Cazador de Monstruos" (2020) es una película épica llena de
                acción y
                emoción. ¡Los efectos visuales te dejarán boquiabierto y la trama te mantendrá al borde del
                asiento! ¡Definitivamente merece 5 estrellas! 🌟🌟🌟🌟🌟
            </p>
            <div class="container-profile">
                <div class="container_img__reviews">
                    <img src="/img/profile_photo1.jpg" alt="foto de  perfil uno">
                </div>
                <div class="profile_description">
                    <p>@Kenan56</p>
                    <p>Kenan Beltran</p>
                </div>
            </div>
        </div>

        <div class="carousel-item_reviews right-slide">
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
            <p class="description-text_reviews">"Lo que el viento se llevó": Un clásico eterno. Pasión y tragedia en la
                era de la Guerra Civil. Una obra maestra del cine que cautiva. Actuaciones y narrativa te sumergen en un
                mundo de emociones. ¡Una joya del cine que perdura en el tiempo! 🎬
            </p>
            <div class="container-profile">
                <div class="container_img__reviews">
                    <img src="/img/profile_photo3.jpg" alt="foto de  perfil uno">
                </div>
                <div class="profile_description">
                    <p>@profile123</p>
                    <p>Soy un usuario</p>
                </div>
            </div>
        </div>
        <button class="carousel-prev reviews" aria-hidden="true"><i
                class="fa-solid fa-circle-chevron-left"></i></button>
        <button class="carousel-next reviews" aria-hidden="true"><i
                class="fa-solid fa-circle-chevron-right"></i></button>
    </div>