<div id="carousel_container" class="carousel">
    <div class="carousel_inner">
        <div class="carousel_item" data-tags="comedy">
            <div class="container_img">
                <img src="../img/donde_estan_las_rubias.png" alt="film where are the blondes">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">¿Y donde estan las rubias? (2004)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Dos agentes del FBI en desgracia van encubiertos en un esfuerzo por
                        proteger a unas herederas de hoteles, las hermanas Wilson, de un complot de secuestro.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="comedy">
            <div class="container_img">
                <img src="../img/escuela_de_rock.png" alt="film school of rock">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Escuela de Rock (2003)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Tras ser expulsado de un grupo de rock, Dewey Finn trabaja como profesor
                        substituto en una estricta escuela privada, e intenta convertirla en un grupo de rock.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="comedy">
            <div class="container_img">
                <img src="../img/ghostbusters.png" alt="film ghostbuster">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Ghostbusters: Apocalipsis Fantasma (2024)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Cuando el descubrimiento de un artefacto antiguo libera una fuerza
                        maligna, los nuevos y viejos Ghostbusters unen sus fuerzas para proteger su hogar y salvar al
                        mundo de una segunda era de hielo.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="comedy">
            <div class="container_img">
                <img src="../img/no_se_si_cortarme_las_venas.png"
                    alt="film I don't know whether to cut my wrists">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">No Sé Si Cortarme Las Venas O Dejármelas Largas (2013)</h4>
                <div class="description-wrapper">
                    <p class="description-text">La historia toma lugar con la llegada de un nuevo personaje en sus
                        vidas, el ex – jugador de futbol llamado Felix.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item active" data-tags="comedy">
            <div class="container_img">
                <img src="../img/paddington_2.png" alt="film paddington">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Paddington 2 (2017)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Completamente integrado a la sociedad, el oso Paddington (Ben Whishaw)
                        vive feliz con los Brown, gozando de la simpatía y respeto de la comunidad de Windsor Gardens.
                    </p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="comedy">
            <div class="container_img">
                <img src="../img/pared_con_pared.png" alt="film wall to wall">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Pared Con Pared (2024)</h4>
                <div class="description-wrapper">
                    <p class="description-text">La película española «Pared con pared» es una nueva versión de la
                        comedia romántica francesa «Tras la pared» o Un peu, beaucoup, aveuglément.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="comedy">
            <div class="container_img">
                <img src="../img/pitch_perfect.png" alt="film pitch perfect">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Pitch Perfect (2012)</h4>
                <div class="description-wrapper">
                    <p class="description-text">La estudiante universitaria Beca (Anna Kendrick) sabe que no quiere ser
                        parte de una camarilla, pero ahí es exactamente donde se encuentra después de llegar a su nueva
                        escuela.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="comedy">
            <div class="container_img">
                <img src="../img/rockos.png" alt="film rockos">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Rocko's Modern Life: Static Cling (2019)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Después de estar en el espacio durante unos 20 años, Rocko y sus amigos
                        intentan adaptarse a una vida aún más moderna en O-Town.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="comedy">
            <div class="container_img">
                <img src="../img/yo_era_famoso.png" alt="film I was famous">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Yo era famoso (2022)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Una exestrella de una banda de chicos obtiene una segunda oportunidad
                        cuando se une a un talentoso baterista. Estreno exclusivo de Netflix.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="recent_popular_movies">
            <div class="container_img">
                <img src="../img/frida.png" alt="film frida">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Frida (2024)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Un viaje íntimamente crudo y mágico a través de la vida, la mente y el
                        corazón de la icónica artista Frida Kahlo.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="recent_popular_movies">
            <div class="container_img">
                <img src="../img/la_primera_profecia.png" alt="film frida">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">La Primera Profecía (2024)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Cuando una joven estadounidense es enviada a Roma para comenzar una vida
                        de servicio a la Iglesia, descubre una oscuridad que la lleva a cuestionar su propia fe y devela
                        una conspiración aterradora que espera provocar el nacimiento de la encarnación del mal.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="recent_popular_movies">
            <div class="container_img">
                <img src="../img/el_cazador_de_mounstro.png" alt="film frida">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">El Cazador de Monstruos (2020)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Un guerrero recorre grandes extensiones a caballo, persiguiendo al
                        monstruo que asesinó a su hija.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="recent_popular_movies">
            <div class="container_img">
                <img src="../img/soy_tu_fan.png" alt="film frida">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Soy Tu Fan: La Película (2022)</h4>
                <div class="description-wrapper">
                    <p class="description-text">En el año 2012, Charly abandona a Nicolás minutos antes de casarse y se
                        muda de país.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="recent_popular_movies">
            <div class="container_img">
                <img src="../img/sobreviviendo_a_mis_15.png" alt="film frida">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Sobreviviendo Mis XV (2023)</h4>
                <div class="description-wrapper">
                    <p class="description-text">¡Los XV, una edad mágica!… excepto cuando tu familia te quiere meter en
                        un vestido ampón y ponerte a bailar vals frente a todo el mundo, que es justo lo que le pasa a
                        Danae muy poco después de cambiarse a una escuela privada muy fresa.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="recent_popular_movies">
            <div class="container_img">
                <img src="../img/recursos_humanos.png" alt="film frida">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Recursos Humanos (2023)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Gabriel Lynch (Pedro de Tavira), un sombrío supervisor de la división de
                        impresiones acaba de solicitar el puesto de gerente.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="recent_popular_movies">
            <div class="container_img">
                <img src="../img/barbie.png" alt="film frida">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Barbie (2023)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Vivir en Barbie Land es ser un ser perfecto en un lugar perfecto. A
                        menos que tengas una crisis existencial total. O eres un Ken.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="recent_popular_movies">
            <div class="container_img">
                <img src="../img/oppenheimer.png" alt="film frida">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Oppenheimer (2023)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Durante la Segunda Guerra Mundial, el teniente general Leslie Groves Jr.
                        nombra al físico J. Robert Oppenheimer para trabajar en el ultrasecreto Proyecto Manhattan.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="clasic">
            <div class="container_img">
                <img src="../img/lo_que_el_viento_se_llevo.png"
                    alt="film lo que el viento se llevo">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Lo que el viento se llevó (1939)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Ella suspira por el amor de Ashley (Leslie Howard), pero él está
                        prometido con su prima, la dulce y bondadosa Melanie (Olivia de Havilland). </p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="clasic">
            <div class="container_img">
                <img src="../img/el_padrino.png" alt="film el padrino">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">El Padrino: parte III (1990)</h4>
                <div class="description-wrapper">
                    <p class="description-text">A pesar del reconfortante recibimiento de sus predecesoras, este filme
                        ha sido el más controversial, dejando divididos a los críticos y fanáticos con sus respectivas
                        opiniones.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="clasic">
            <div class="container_img">
                <img src="../img/el_exorcista.png" alt="film el exorcista">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">El Exorcista (1973)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Adaptación de la novela de William Peter Blatty que se inspiró en un
                        exorcismo real ocurrido en Washington en 1949.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="clasic">
            <div class="container_img">
                <img src="../img/rocky.png" alt="film rocky">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Rocky (1976)</h4>
                <div class="description-wrapper">
                    <p class="description-text">El boxeador Rocky Balboa, obtiene una gran oportunidad para luchar
                        contra el ''Campeón Pesado'', Apollo Creed, en un combate en el que se esfuerza por llegar hasta
                        el final por amor propio.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="clasic">
            <div class="container_img">
                <img src="../img/grease.png" alt="film grease">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Grease (1978)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Verano de 1959. Sandy (Olivia Newton John) y Danny (John Travolta) han
                        pasado un romántico y maravilloso verano juntos, pero, cuando las vacaciones se acaban, sus
                        caminos se separan. Inesperadamente, vuelven a verse en el instituto Rydell, pero la actitud de
                        Danny ya no es la misma: ya no es el chico encantador y atento que encandiló a Sandy; ahora es
                        engreído e insensible.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="clasic">
            <div class="container_img">
                <img src="../img/taxi_driver.png" alt="film taxi driver">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Taxi Driver (1976)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Un veterano de la guerra de Vietnam mentalmente inestable trabaja como
                        taxista nocturno en la ciudad de Nueva York, donde la decadencia percibida y sordidez alimenta
                        su impulso para la acción violenta, tratando de salvar a una prostituta preadolescente en el
                        proceso.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="clasic">
            <div class="container_img">
                <img src="../img/misery.png" alt="film misery">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Misery (1990)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Un escritor llamado Paul Sheldon (James Caan) lleva años malgastando su
                        talento con unas románticas historias, de gran éxito comercial, cuya protagonista es una mujer
                        llamada Misery.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="clasic">
            <div class="container_img">
                <img src="../img/dia_de_independencia.png" alt="film dia de la independencia">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Día de la Independencia (1996)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Una raza extraterrestre llega a la Tierra con el objetivo de invadir y
                        destruir. Peleando contra tecnología superior, la mejor arma de la raza humana será su fuerza de
                        voluntad.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="horror">
            <div class="container_img">
                <img src="../img/alicia.png" alt="film alicia">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">Alicia en el País de Las Pesadillas (2023)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Alicia en el País del Terror, es una inquietante versión del clásico
                        cuento de Lewis Carroll, que transporta al espectador a un mundo retorcido y oscuro.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="horror">
            <div class="container_img">
                <img src="../img/la_monja.png" alt="film la monja">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">La Monja II (2023)</h4>
                <div class="description-wrapper">
                    <p class="description-text">En 1956 en Francia, un sacerdote es asesinado y parece que un mal se
                        está extendiendo. La hermana Irene una vez más se encuentra cara a cara con una fuerza
                        demoníaca.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel_item" data-tags="horror">
            <div class="container_img">
                <img src="../img/megan.png" alt="film megan">
            </div>
            <div class="rating-stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
            <div class="container_description">
                <h4 class="film_title">M3gan (2022)</h4>
                <div class="description-wrapper">
                    <p class="description-text">M3GAN es una maravilla de la inteligencia artificial, una muñeca
                        realista programada para ser la mejor compañera de los niños y la mayor aliada de los padres.
                    </p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
    </div>
    <button class="carousel-prev" aria-hidden="true"><i class="fa-solid fa-circle-chevron-left"></i></button>
    <button class="carousel-next" aria-hidden="true"><i class="fa-solid fa-circle-chevron-right"></i></button>
</div>