<div id="carousel_container" class="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container_img">
                <img class="d-block w-100" src="../img/donde_estan_las_rubias.png" alt="film where are the blondes">
            </div>
            <div class="container_description">
                <h4>¿Y donde estan las rubias? (2004)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Dos agentes del FBI en desgracia van encubiertos en un esfuerzo por
                        proteger a unas herederas de hoteles, las hermanas Wilson, de un complot de secuestro.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container_img">
                <img class="d-block w-100" src="../img/escuela_de_rock.png" alt="film school of rock">
            </div>
            <div class="container_description">
                <h4>Escuela de Rock (2003)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Tras ser expulsado de un grupo de rock, Dewey Finn trabaja como profesor
                        substituto en una estricta escuela privada, e intenta convertirla en un grupo de rock.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container_img">
                <img class="d-block w-100" src="../img/ghostbusters.png" alt="film ghostbuster">
            </div>
            <div class="container_description">
                <h4 class="film_title">Ghostbusters: Apocalipsis Fantasma (2024)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Cuando el descubrimiento de un artefacto antiguo libera una fuerza
                        maligna, los nuevos y viejos Ghostbusters unen sus fuerzas para proteger su hogar y salvar al
                        mundo de una segunda era de hielo.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container_img">
                <img class="d-block w-100" src="../img/no_se_si_cortarme_las_venas.png"
                    alt="film I don't know whether to cut my wrists">
            </div>
            <div class="container_description">
                <h4 class="film_title">No Sé Si Cortarme Las Venas O Dejármelas Largas (2013)</h4>
                <div class="description-wrapper">
                    <p class="description-text">La historia toma lugar con la llegada de un nuevo personaje en sus
                        vidas, el ex – jugador de futbol llamado Felix.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="container_img">
                <img class="d-block w-100" src="../img/paddington_2.png" alt="film paddington">
            </div>
            <div class="container_description">
                <h4>Paddington 2 (2017)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Completamente integrado a la sociedad, el oso Paddington (Ben Whishaw)
                        vive feliz con los Brown, gozando de la simpatía y respeto de la comunidad de Windsor Gardens.
                    </p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container_img">
                <img class="d-block w-100" src="../img/pared_con_pared.png" alt="film wall to wall">
            </div>
            <div class="container_description">
                <h4>Pared Con Pared (2024)</h4>
                <div class="description-wrapper">
                    <p class="description-text">La película española «Pared con pared» es una nueva versión de la
                        comedia romántica francesa «Tras la pared» o Un peu, beaucoup, aveuglément.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container_img">
                <img class="d-block w-100" src="../img/pitch_perfect.png" alt="film pitch perfect">
            </div>
            <div class="container_description">
                <h4 class="film_title">Pitch Perfect (2012)</h4>
                <div class="description-wrapper">
                    <p class="description-text">La estudiante universitaria Beca (Anna Kendrick) sabe que no quiere ser
                        parte de una camarilla, pero ahí es exactamente donde se encuentra después de llegar a su nueva
                        escuela.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container_img">
                <img class="d-block w-100" src="../img/rockos.png" alt="film rockos">
            </div>
            <div class="container_description">
                <h4 class="film_title">Rocko's Modern Life: Static Cling (2019)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Después de estar en el espacio durante unos 20 años, Rocko y sus amigos
                        intentan adaptarse a una vida aún más moderna en O-Town.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container_img">
                <img class="d-block w-100" src="../img/yo_era_famoso.png" alt="film I was famous">
            </div>
            <div class="container_description">
                <h4 class="film_title">Yo era famoso (2022)</h4>
                <div class="description-wrapper">
                    <p class="description-text">Una exestrella de una banda de chicos obtiene una segunda oportunidad
                        cuando se une a un talentoso baterista. Estreno exclusivo de Netflix.</p>
                    <button class="btn_readMore" onclick="toggleDescription(this)"><i
                            class="fa-solid fa-sort-down"></i></button>
                </div>
                <button class="btn_film">Ver</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" onclick="prevSlide()" aria-hidden="true"><i
            class="fa-solid fa-circle-chevron-left"></i></button>
    <button class="carousel-control-next" onclick="nextSlide()" aria-hidden="true"><i
            class="fa-solid fa-circle-chevron-right"></i></button>
</div>